/* This is all built-by-scratch. Bespoke. No framework stuff. */

/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Sets up base variables. Color palette, in this case. */
:root { 
  --primary-color: #820933;
  --primary-accent-color: #D3318A;
  --secondary-color: #D2FDFF;
  --secondary-accent-color-blue: #3ABEFF;
  --secondary-accent-color-seafoam: #26FFE6;
  --white: #ffffff;
  --black: #000000;
  --gray-lighter: #f0f0f0;
  --gray-light: #bcbaba;
  --gray-medium: #5D5D5D;
  --gray-dark: #212121;
}

/* Structure */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--gray-dark);
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  background-color: var(--black);
  text-align: left;
  h1 {
    font-weight: normal;
    padding-left: 1em;
    font-size: 1em;
    color: #ffffff;
  }
}

.wrapper {
  padding: 2em 1em;
}

.app {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Poppins', Helvetica, sans-serif;
}

/* Component - #counter area */
#counter {
  height: 24px;
  text-align: center;
  p {
    margin: 0;
  }
}

/* Component - #pager-controls area */
#pager-controls {
  display: grid;
  grid-gap: 0.5em;
  margin: 1em 0 2em 0;
  grid-template-columns: 1fr 1fr 1fr;
  label {
    text-align: center;
    grid-row: 1/2;
  }

  label {
    grid-column: 1/4;
  }

  #pager-step {
    grid-row: 2/3;
  }

  #prev, #next {grid-row: 2/3;}
}

/* Things inside the Results area. */
#results-container {
  margin-bottom: 2em;
  min-height: 50vh;
}

ul {
  &.current-result-set-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  list-style-type: none; 
  padding: 0;
  margin: 0;}
  word-wrap: break-word;
}

/* Component - the result card for a MET object. */
.result {
  display: grid;
  grid-template-rows: subgrid;
  align-items: start;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(164, 164, 164, .5);
  border: 1px solid var(--gray-light);
  h3 { margin: 0;}
  p {margin: 0;}

  hr {
    border: 0;
    height: 1px;
    background-color: var(--gray-light);
    margin: 0.25em 0;
  }
  .card {
    display: grid;
    
    img {
      grid-row: 1/2;
      width: 100%;
      height: 250px;
      object-fit: contain;
      object-position: top;
      background-color: var(--gray-lighter);
    }
    .card-body {
      grid-row: 2/3;
      padding: 0.5em 1em;
    }
  }

  .object-meta-data {
    color: var(--gray-medium);
    h4 {margin: 0;}
    dl {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    dd, dt {
      margin: 0;
      padding: 0;
      font-size: 0.8em;
      line-height: 1.1em;
      margin-bottom: 0.5em;
    }
    dt {
      justify-self: end;
      padding-right: 1em;
    }
  }
}

/* Results area state indicators. */
.no-results {
  text-align: center;
}

.loading-results {
  text-align: center;
  margin-top: 2em;
  img {
    max-width: 75vw;
  }
}

/* General utility. */
.hidden {
  visibility: hidden;
}

/* Form styles. */
.search {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.validate {
  color: var(--primary-accent-color);
}

input, select {
  border-radius: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  outline: 0;
  border: 1px solid;
}
select {
  text-align: center;
}
input[type=search] {
  padding: 0.5em; 
  font-size: 1.5em;
  max-width: 100%;
}

select,
input.button, 
button, 
a.btn {
  border-radius: 0;
  border-width: 1px;
  padding: 0.5em;
  font-size: 1em;
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
  border: 1px solid var(--primary-accent-color);
  color: var(--primary-accent-color);
  background-color: var(--white);
}

a.btn {
  margin: 0.5em 0;
  display: block;
  text-align: center;
  text-decoration: none;
}

input.button {
  padding: 0.5em;
  font-size: 1.5em;
}

*:disabled, select:disabled {
  background-color: rgb(229, 228, 228);
  border-color: rgb(152, 151, 151);
  color: #5d5d5d;
}

input, button, select, a.btn {
  transition: all 300ms;
  &:focus {
    border-radius: 0;
    outline-offset: 3px;
    outline: solid 3px var(--primary-accent-color);
  }
}

input[type=submit], button, select, a.btn {
  &:focus, &:hover {
    background-color: var(--primary-accent-color);
    color: var(--white);
  }
}

input[type=submit], button {
  &:hover {
    cursor: pointer;
  }
}

select {
  padding: 1em; 
  border-radius: 0;
}

select:active {
  border-color: var(--primary-color);
}

/* Form validation. */
.invalid {
  border: 1px solid var(--primary-color);
  background-color: #fdd9e6;
  &::placeholder {
    color: var(--primary-color);
  }
}

input:invalid {
  border: 1px solid var(--primary-accent-color);
}

/* User messages */
.alert {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-accent-color-blue);
  padding: 1em;
  margin-bottom: 2em;
  h2 {
    margin: 0;
  }
}

/* The tweener land that's always hard to nail down. Basically, in-between and desktop */
@media screen and (min-width: 750px) {
  .header {
    h1 {
      font-size: 1.75em;
    }
  }
  .wrapper {
    padding: 2em 3em;
  }

  .search {
    grid-template-columns: 3fr 1fr;
  }

  .loading-results {
    margin-top: 2em;
    img {
      max-width: 30vw;
    }
  }

  #pager-controls {
    grid-template-columns: 3fr 1fr 3fr;
  }
}

/* Responsive - a bit bigger than phone. */
@media screen and (min-width: 625px) {
  .header {
    grid-template-columns: 1fr 4fr;
    h1 {
      font-size: 2em;
    }
  }

  .wrapper {
    padding: 2em;
  }

  /* Form styles. */
  .search {
    grid-template-columns: 4fr 1fr;
  }

  .validate {
    grid-column: 1/2;
    color: var(--primary-accent-color);
  }

  .loading-results {
    margin-top: 1.5em;
    img {
      max-width: 45vw;
    }
  }

  #pager-controls {
    grid-template-columns: 2fr 1fr 2fr;
  }
}

/* Animation definitions */
/* Classes */
.fade-in {
  display: block;
  animation: fade-in 0.5s ease-in forwards;
  &.result {
    display: grid;
  }
}

.fade-out {
  animation: fade-out 0.5s ease-out forwards;
}

/* Keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: grid;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: grid;
  }

  100% {
    opacity: 0;
    display: none;
  }
}